@* @model List<GetLastPetsDto>
<!-- Recent Listings -->
<div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Son Eklenen İlanlar</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Hayvan</th>
                            <th>Tür</th>
                            <th>Kullanıcı</th>
                            <th>Tarih</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.PetId</td>
                                <td>@item.Name</td>
                                <td>@item.PetTypeName</td>
                                <td>@item.UserNameSurname</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a asp-area="" asp-controller="Pet" asp-action="Detail" asp-route-id="@item.PetId" class="btn btn-primary btn-sm">Görüntüle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> *@